mybatis:
    config-location: classpath:mybatis/mybatis-config.xml
    mapper-locations: classpath:mybatis/mapper/*.xml
server:
    servlet:
        jsp:
            init-parameters:
                development: true
spring:
    mvc:
        view:
            prefix: /WEB-INF/views/
            suffix: .jsp
    profiles:
        include:
            - oauth
            - aws
            - rds