<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BookHub.Folder.FolderRepository">

    <!-- 폴더 목록 조회 -->
    <select id="selectFolderList" resultType="folderdto" parameterType="int">
        SELECT name, id FROM folder WHERE user_id = #{user_id}
    </select>

    <!-- 폴더 이름 수정 -->
    <update id="updateFolderName" parameterType="folderdto">
        UPDATE folder SET name = #{name} WHERE id = #{id}
    </update>

    <!-- 폴더 삭제 -->
    <delete id="deleteFolder" parameterType="int">
        DELETE FROM folder WHERE id = #{id}
    </delete>

    <!-- 폴더 생성 -->
    <insert id="createFolder" useGeneratedKeys="true" keyProperty="id" parameterType="folderdto">
        INSERT INTO folder (user_id, name) VALUES (#{user_id}, #{name})
    </insert>

</mapper>
