<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BookHub.User.UserRepository">
	<resultMap id="userResultMap" type="com.example.BookHub.User.UserDTO">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="role" property="role" javaType="com.example.BookHub.User.Role" jdbcType="VARCHAR" />
		<result column="social_name" property="socialName" />
	</resultMap>

    <!--소셜 로그인 유저 데이터 저장-->
    <insert id="insertUserBySocial" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, email, role, social_name)
        VALUES (#{name}, #{email}, #{role}, #{socialName})
    </insert>

    <!--소셜 로그인 유저 데이터 저장-->
    <select id="findBySocialTypeAndEmail" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE email = #{email} AND social_name=#{socialType}
    </select>

	<insert id="insertUser" parameterType="com.example.BookHub.User.UserDTO">
		INSERT INTO user (name, email, password, role, social_name)
		VALUES (#{name}, #{email}, #{password}, #{role}, #{socialName})
		<selectKey resultType="UserDTO" keyProperty="id" order="AFTER">
			SELECT * FROM user WHERE id = LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="findByEmail" resultMap="userResultMap">
		SELECT * FROM user WHERE email = #{email}
	</select>

	<select id="userinfo" resultMap="userResultMap">
		/* 회원 정보 조회 */ 
		SELECT * 
			FROM user
		WHERE id = #{id}
	</select>

	<update id="updateUser">
		/* 회원 정보 수정 */ 
		UPDATE user SET
		<if test="!name.equals('') and name != null">
			name = #{name},
		</if>
		<if test="!password.equals('') and password != null">
			password = #{password}
		</if>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteUser">
		/*회원 정보 삭제*/
		DELETE 
			FROM user
		WHERE id = #{id}
	</delete>
	
	<select id="selectUserList" parameterType="int" resultMap="userResultMap">
		/*회원 리스트 조회*/
		SELECT *
			FROM user
		ORDER BY id DESC
		LIMIT #{limit},10
	</select>

	<select id="totalUser" resultType="int">
		/*회원 리스트 총갯수*/
		SELECT COUNT(*)
			FROM user
	</select>

</mapper>
