<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BookHub.User.UserRepository">
	<resultMap id="userResultMap" type="com.example.BookHub.User.UserDTO">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="role" property="role" javaType="com.example.BookHub.User.Role" jdbcType="VARCHAR" />
		<result column="social_name" property="socialName" />
	</resultMap>

    <select id="findBySocialTypeAndEmail" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE email = #{email} AND social_name=#{socialType}
    </select>

	<insert id="insertUser" parameterType="com.example.BookHub.User.UserDTO">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO user (name, email, password, role, social_type)
		VALUES (#{name}, #{email}, #{password}, #{role}, #{socialType})
	</insert>

	<select id="loginUser" resultType="userdto">
		SELECT
			*
		FROM user
		WHERE email = #{email}
	</select>

	<select id="findByEmail" resultMap="userResultMap">
		SELECT * FROM user WHERE email = #{email}
	</select>

	<select id="userinfo" resultMap="userResultMap">
		SELECT * 
			FROM user
		WHERE id = #{id}
	</select>

	<update id="updateUser">
		UPDATE user SET
		<if test="!name.equals('') and name != null">
			name = #{name},
		</if>
		<if test="!password.equals('') and password != null">
			password = #{password}
		</if>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteUser">
		/*회원 정보 삭제*/
		DELETE 
			FROM user
		WHERE id = #{id}
	</delete>
	
	<select id="selectUserList" parameterType="int" resultMap="userResultMap">
		/*회원 리스트 조회*/
		SELECT *
			FROM user
		ORDER BY id DESC
		LIMIT #{limit},10
	</select>

	<select id="totalUser" resultType="int">
		/*회원 리스트 총갯수*/
		SELECT COUNT(*)
			FROM user
	</select>

	<select id="selectUserKeywordList" parameterType="HashMap"  resultType="userdto">
		/*회원 리스트 조회 */
		SELECT *
		FROM USER
		<if test="!keyword.equals('') and keyword != null">
			WHERE EMAIL LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		ORDER BY ID DESC
		LIMIT #{limit},10
	</select>

</mapper>
