
.documentContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.highlight_green {
    background-color: #e6ffec;
    display: block; 
}

.highlight_pink {
    background-color: #ffebea;
    display: block; 
}
.Appbar {
    display: flex;
    width: 100%;
    height: 70px;
    font-size: 100%;
}
.right {
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: left;
}
.brandName{
    padding-left: 5px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 22px;
    padding-top: 6px;
}
.menuName {
    padding-right: 15px;
    padding-top: 18px;
}
.brandlogo {
    width: 50px;
    margin-right: 8px;
}
.left {
    display: flex;
    width: 50%;
    padding-left: 460px;
}


.button {
    height: 26px;
    margin-top: 16px;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background: #ffc477 linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    border-radius:3px;
    border:1px solid #eeb44f;
    cursor:pointer;
    text-shadow:0px 1px 0px #cc9f52;
}
.button:hover {
    background: #fb9e25 linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
}
.button:active {
    position:relative;
    top:1px;
}
.menu:hover {
    color: #fb9e25;
    font-weight: bold;
    text-shadow: 2px 4px 2px gray;
}
