.grid {
    display: flex;
    flex-direction: row;
}

.Appbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 65px;
    font-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.right {
    width: 15%;
    margin-left: 10px;
}

.brandName {
    font-weight: bold;
    font-size: 22px;
    padding-top: 6px;
}

.brandlogo {
    width: 50px;
    margin-right: 10px;
}

.menu:hover {
    color: #fb9e25;
    font-weight: bold;
    text-shadow: 2px 4px 2px gray;
}
.left {
    display: flex;
    width: 10%;
    justify-content: right;
    padding-right: 10px;
}

.dropdown {
    margin-top: 10px;
}



.main {
    margin-top: 20px;
    width: 1240px;
}

.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 98%;
    height: 46px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px;
    vertical-align: middle;
}

.menuBar-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.folder-list {
    list-style: none;
    justify-content: space-between;
    padding-top: 15px;
    margin-left: -20px;

}

.folder-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -10px;
}

.folder-name:hover {
    font-weight: bold;
}

.folder-title {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.material-symbols-outlined {
    font-size: 20px;
    margin-right: 5px;
}

.new-folder {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.new-folder-button {
    margin-left: 3px;
}

.folder-edit-btn {
    cursor: pointer;
}

.folder-del-btn {
    cursor: pointer;
}

/* Input Field */
.edit-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
}

.tableStyle {
    margin: auto;
    width: 98%;
}
table {
    table-layout:fixed;
}

.menuBar-header {
    margin-top: 2px;
}

.folder-header {
    display: flex;
    flex-direction: row;
    padding: 14px;
    font-weight: bold;
}

#icon {
    font-weight: bold;
    font-size: 30px;
}

.add-btn {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background: #ffc477 linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    border-radius:3px;
    border:1px solid #eeb44f;
    cursor:pointer;
    text-shadow:0px 1px 0px #cc9f52;
    margin-right: 5px;
}
.add-btn:hover {
    background: #fb9e25 linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
}
.add-btn:active {
    position:relative;
    top:1px;
}
.del-btn {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background: #fe1a00 linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    border-radius:3px;
    border:1px solid #d83526;
    color: white;
    cursor:pointer;
    text-shadow:0px 1px 0px #cc9f52;
    margin-right: 5px;
}
.del-btn:hover {
    background: #ce0100 linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
}
.del-btn:active {
    position:relative;
    top:1px;
}
.comp-btn {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background: #ffc477 linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    border-radius:3px;
    border:1px solid #eeb44f;
    cursor:pointer;
    text-shadow:0px 1px 0px #cc9f52;
    margin-right: 5px;
}
.comp-btn:hover {
    background: #fb9e25 linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
}
.comp-btn:active {
    position:relative;
    top:1px;
}

.paging {
    position: fixed;
    bottom: 15px;
    width: 100%;
}
.page-link {
    background-color: white;
    color: black;
}
td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 50%;
    max-width: 600px;
    background-color: white;
}
#modal-window {
    border: 1px #eeb44f solid ;
}

#modal > div > span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#memo {
    color: black;
    text-decoration: none;
}
#memo:hover{
    color: #eeb44f;
}

#clearSearch {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.search {
    width: 70%;
    margin-top: 8px;
    text-align: center;
}

.searchin {
    position: relative;
    width: 70%;
    height: 40px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: 0px;
    margin: 5px auto auto;
}
#delete-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#delete-modal > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 50%;
    max-width: 400px;
    background-color: white;
}
#modal-window {
    border: 1px #eeb44f solid ;
}

#modal > div > span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}