@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.App{
    font-family: 'MapoFlowerIsland', serif;
    width: 1440px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'MapoFlowerIsland', serif;
}
.link {
    text-decoration: none;
    color: black;
}
input[type]:hover {
    border: 1px solid black;
    transition: border 2s ease-out 100ms;
}